.navbar img{
    height: 40px;
    margin: 4px;
    width: 100px;
}

.carousel-item{
    height: 32rem;
    background: #777;
    color: black;
    position: relative;
    background-position: center;
    background-size: cover;
}

.carousel-item .container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
/*for job creation page*/
.job-field{
    margin-top: 2%;
}

.job-field-padding{

padding:5px;
}
.submit-button{
    float: right;

}
/* Added today 3march 9 05*/
.job-head{
    font-weight: 700;
    font-size: 16px;
    /*font-size : 1.6rem; */
    color: rgb(40, 44, 63);
    line-height: 2rem;
    font-family: Lato, Roboto, sans-serif;
}
.job-content{
    font-family: Lato, Roboto, sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: rgb(83, 86, 101);
    /*font-size: 1.3rem*/;
    font-size: 13px;
    
}
/*for job creation page --added 30 March */
.small-div{
    box-sizing: border-box;
    width: 75%;
    margin: auto;
    padding: 2rem;
    margin-top: 3rem;
}
.small-div input[type=submit]{
    padding: 0.5rem;
    width: 25%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #71b7e6;
    border-radius: 5px;
    color: #fff;
    color: #000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
}
.small-div input[type=submit]:hover{
    background: #000;
    color: #fff;
}

.small-div input[type=text]{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}
.small-div input[type=number]{
    display: inline;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;  
}
.small-div input[type=radio]{
    margin: 1rem;
}
.small-div input[type=checkbox]{
    margin: 1rem;
}
.small-div label{
    font-weight: 500;
}
.small-div hr{
    color: purple;
}
.container-lg .text-center{
    background-color: lightgoldenrodyellow;
}
.my-label{
    font-weight: 600;
    font-size: 14px;
    /*font-size : 1.6rem; */
    color: rgb(40, 44, 63);
    line-height: 2rem;
    font-family: Lato, Roboto, sans-serif;
}
.space-above{
    margin-top: 0.5rem;
}
/*for jobs4.html*/
.jobs4-center-div{
    min-height: 100vh;
    width: 330px;
    background: #fff;
    border-radius: 5px;
    text-align: left;
    padding: 50px 35px 10px 35px;
    box-sizing: content-box;
    margin: auto;
    min-width: 50%;
}
.job4-mini{
    border-radius: 5px;
    border-left: 3px solid;
    padding: 10px;
    border-color: rgb(225, 172, 25);
    background-color: lightgoldenrodyellow;
    margin-bottom: 1rem;
}
.container-lg button{
    display: block;
    
}
/*viewprofile.html*/
.view-profile-center-div{
    margin-top: 100px;
    border-radius: 5px;
    background-color: whitesmoke; 
    width: 66.66%;
    padding: 2rem;
}
.view-profile-center-div h1{
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.view-profile-center-div hr{
    color: darkgoldenrod;
}
.view-profile-center-div .profile-mini{
    border-radius: 5px;
    border: 2px solid;
    padding: 10px;
    border-color: rgb(225, 172, 25);
    background-color: lightgoldenrodyellow;
    margin-bottom: 1rem;
}
.view-profile-center-div .profile-mini h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*for spa.html 2/4 */
.spa-center{
    margin-top: 100px; 
    border-radius: 5px; 
    /* background-color: white */
}
#spa-heading{
    font-size: 500%;
    font-weight: bolder;
    color: transparent  ;
    margin: 0px auto 1rem auto;
    text-align: center;
    -webkit-text-stroke: 1px #fff;
    background: url('back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 40s linear infinite;
}
@keyframes back{
    100%{
        background-position: 4000px 0;
    }
}
.spa-center h1{
    font-size: 500%;
    font-weight: bolder;
    color: transparent  ;
    margin: 0px auto 1rem auto;
    text-align: center;
    -webkit-text-stroke: 1px #fff;
    background: url('back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 40s linear infinite;
}
.spa-mini{
    background-color: lightcyan;
    /* border:rgb(225, 172, 25) 2px solid; */
    border-radius: 25px; 
    margin-bottom: 1rem;
    min-height: 300px;
    padding: 10px;
}
.spa-mini h2{   
    padding: 10px;
    padding-left: 30px;
}
.spa-cardbox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.spa-cardbox .spa-card{
    position: relative;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
   
    
}
.spa-cardbox .spa-card .spa-numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: blue;
    color: rgb(183, 120, 243);
}
.spa-cardbox .spa-card .spa-cardname{
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 5px;
}
.spa-iconBx{
    font-size: 3.5em;
    color: black;
}
.spa-cardbox .spa-card:hover{
    background-color: black;
}
.spa-cardbox .spa-card:hover .spa-numbers,
.spa-cardbox .spa-card:hover .spa-cardname,
.spa-cardbox .spa-card:hover .spa-iconBx{
    color: white;
}
.spa-graphbox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    min-height: 200px;
}
.spa-graphbox .spa-box{
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.spa-graphbox .spa-box:hover{
    background-color: black;
}

/*for responsiveness*/
@media(max-width: 991px){
    .spa-graphbox{
        grid-template-columns: 1fr;
        /* height: auto; */
    }
    .spa-cardbox{
        grid-template-columns: 1fr;
    }
}
@media(max-width:1440px){
    .spa-graphbox{
        /* grid-template-columns: 1fr; */
    }
}

.spa-pred{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    min-height: 200px;
}
.spa-pred .spa-pred-mini{
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.spa-pred .spa-pred-mini .spa-pred-mini-number{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: blue;
    color: rgb(183, 120, 243);
    text-align: center;
}
.spa-pred .spa-pred-mini .spa-pred-mini-name{
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 5px;
}

/*Resume builder*/
      /* Set the body to use flexbox */
      .resume-main {
        margin-top: 100px;
        border-radius: 2px;
        border: 2px solid;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        background-color: transparent;
        height: auto; /* set the height to the full viewport height */
      }

      /* Set the left container to be one-fourth the width */
      .resume-main .left {
        flex-basis: 25%;
        background-color: lightblue;
        /* display: grid; */
        grid-template-rows: 30% 25% 1fr 1fr ;
        padding: 10px;
      }
      .resume-main .left .left-mini{
        width: 100%;
        min-height: 100px;
        margin-bottom: 10px;
        background-color: whitesmoke;
        padding: 10px;
      }
      .resume-main .left .left-mini h2{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        display: inline; /*change if causing error*/
      }
      .my-profile-pic {
        border-radius: 10%;
        overflow: hidden;
        border: 3px solid gray;
      }
      #profile-left-mini{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      /* Style the profile picture image */
      .profile-pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .resume-skills{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
        max-width: 100%;

      }
      .resume-interest{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
        max-width: 100%;
      }
      .skill-tablet{
        font-size: 18px;
        padding: 10px 20px;
        margin: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        
      }


      /* Set the right container to be three-fourths the width */
      .resume-main .right {
        flex-basis: 75%;
        background-color: lightgray;
        /* display: flex; */
        flex-direction: column;
        padding: 10px;
        gap: 1rem;
      }
      .resume-main .right .right-rows{
        width: 100%;
        height: auto;
        min-height: 300px;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
      }
      .resume-main .right .right-rows .right-name{
        font-size: 32px;
        font-weight: 500;
      }
      .resume-main .right .right-rows .right-role{
        font-size: large;
      }
      .resume-main .right .right-rows .proj-name{
        font-size: 18px;
        font-weight: 500;
      }
      .resume-main .right .right-rows .proj-desc{
        font-size: large;
        
      }
    /*for print media query*/
    
/* after 5 april*/
/* For TPO Dash*/
.hiring-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 66.66%;
    margin: auto;
  }
  
  .hiring-container .hiring-card {
    position: relative;
    width: 300px;
    height: 150px;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .hiring-card:hover .hiring-card-frame {
    transform: translateX(-100%);
  }
  
  .hiring-card-text {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .hiring-card-frame {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }
  
  .hiring-card-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .hiring-card:hover .hiring-card-button {
    opacity: 1;
    
  }
  .hiring-main{
    border-radius: 5px;
    border: solid 2px;
    background-image: linear-gradient(135deg, #71b7e6, #9b59b6);;
  }